<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PWStopWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDAF98811CAAE019003E5DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDAF98981CAAE019003E5DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDAF98A31CAAE019003E5DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
